{% if object_totali_2 %}
            {% for o in object_totali_2 %}
              <tr>
                <td>{{ o.clinker_totaliseur_2|floatformat:0 }}</td>
                <td>{{ o.gypse_totaliseur_2|floatformat:0 }}</td>
                <td>{{ o.dolomite_totaliseur_2|floatformat:0 }}</td>
                <td>
                  {% if user.is_authenticated and user.profil.poste == user_poste or user.profil.role == 'admin' %}
                    <a href="" class="text-warning"><i class="fas fa-pen"></i></a>
                  {% endif %}
                </td>
              </tr>
              <tr class="table-secondary small">
                <td>{{ o.dif_clikner|floatformat:0 }}</td>
                <td>{{ o.dif_gypse|floatformat:0 }}</td>
                <td>{{ o.dif_dolomite|floatformat:0 }}</td>
                <td></td>
              </tr>
              <tr class="table-light fw-semibold">
                <td colspan="4">🧮 Totaliseur : {{ o.dif_compt|floatformat:0 }}</td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td colspan="3">—</td>
              <td>
                {% for iteam in object_totali_1 %}
                  {% if user.is_authenticated and user.profil.poste == user_poste or user.profil.role == 'admin' %}
                    <a href="" class="text-success"><i class="fas fa-circle-plus"></i></a>
                  {% endif %}
                {% endfor %}
              </td>
            </tr>
          {% endif %}