<div class="row aligne-items-end my-2">
  <!-- Colonne tableau -->
  <div class="col-md-4">
    <table class="table table-bordered border-black table-hover table-sm align-middle text-center mb-0">
      <tr>
        <th colspan="6" class="bg-success-subtle text-black fw-bolder" y>CEMMENT QUALITY</th>
      </tr>
      <tr>
        <th class="bg-success-subtle text-dark fw-bolder">Design</th>
        <th class="bg-success-subtle text-dark fw-bolder">Objectif</th>
        <th class="bg-info-subtle text-dark fw-bolder">Shift A</th>
        <th class="bg-info-subtle text-dark fw-bolder">Shift B</th>
        <th class="bg-info-subtle text-dark fw-bolder">Shift C</th>
        <th class="bg-warning-subtle text-dark fw-bolder">Daily Average</th>
      </tr>
      <tr>
        <th class="bg-success-subtle fw-bolder text-dark">Refus</th>
        <td class="bg-success-subtle fw-bolder text-dark">10.0+-1.0</td>
        <td class="bg-light text-dark">8.60</td>
        <td class="bg-light text-dark">8.50</td>
        <td class="bg-light text-dark">10.80</td>
        <td class="bg-warning-subtle text-dark">9.30</td>
      </tr> 
      
    </table>
  </div> <div class="col-md-4">
    <table class="table table-bordered border-black table-hover table-sm align-middle text-center mb-0">
      <tr>
        <th>Tableau 2</th>
      </tr> <tr>
        <td>Contenu B</td>
      </tr>
    </table>
  </div> <div class="col-md-4">
    <table class="table table-bordered border-black table-hover table-sm align-middle text-center mb-0">
      <tr>
        <th>Tableau 3</th>
      </tr> <tr>
        <td>Contenu C</td>
      </tr>
    </table>
  </div>
</div>

